<footer class="app-footer">
  <div class="wrapper">
      <span class="pull-right">2.0.0 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2020 Copyright.
      Pitec Team - Version1
  </div>
</footer>